.lowercontainer{
    background-color: #283046;
    /* min-height: fit-content; */
    min-height: 24rem;
    padding: 1rem;
    margin: 0;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.totalinstalled{
    padding-bottom: 1rem;
    position: relative;
    left: 3rem;
}
.totalinstalled span{
    margin: 0;
    padding: 0;
    display: flex;
}

.totalinstalled img {
    float: left;
    padding-right: 0.5rem;
}

.lowercontainer ul{
    margin: 0;
    padding: 0;
}

.lowercontainer li{
    margin: 0;
    min-height: fit-content;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0.2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7,1fr);
}

.lowercontainer span{
    margin: 0 0 0 0;
    padding-left: 0;
    color: white;
}

.firstlist{
    background-color: #271C1C;
    border: 0.5px solid #707070;
    padding: 0.8rem;
}
#firstlist{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lowercontainer > div{
    position: relative;
    bottom: 0.3rem;
    display: flex;
    justify-content: flex-start;
}

.lowercontainerheader button{
    border:1px solid #707070;
    color: #FFFFFF;
    background: transparent;
    margin-left: auto;
    align-self: end;
    padding: 5px;
    padding-right: 20px;
}

select{
    background: transparent;
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

option{
    background: hsla(0, 0%, 85%, 1);
    border: 1px solid hsla(0, 0%, 44%, 1);
    color: hsla(0, 0%, 51%, 1);
    width: 138px;
}
option {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lowercontainer>div:last-child{
    display: flex;
    padding: 4px;
    justify-content: flex-end;
    width: 70vw;
  }

  .buttoncontainer button{
    background: transparent;
    color: whitesmoke;
    margin: 9px;
    border: none;
    padding: 0.3rem;
  }

  .buttoncontainer button:hover{
    cursor: pointer;
    background-color: rgb(68, 68, 228);
    border-radius: 50%;
    transform: scale(1.5);
    padding: 0.3rem;
  }

  .buttoncontainer>div {
    border-radius: 46px;
    background-color: hsl(227deg 61% 18%);
    display: flex;
    justify-content: space-around;
    border-radius: 46px;
    align-items: center;
}


/* Calender css */

/* .rdrDateRangePickerWrapperdiv */
.rdrDateRangePickerWrapper{
    position: absolute;
    width: 40vw;
    margin-left: 32.5vw;
    z-index: 1;
    border-radius: 15px;
    top: 2rem;
}

.rdrDateRangePickerWrapper span{
    color: #271C1C;
}

#hidden{
    display: none;
}

.calenderbuttonsection{
    position: relative;
}

.calenderbuttonsection {
    margin-left: 32.5vw;
    margin-top: 23rem;
    position: absolute;
    padding-left: 11px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 26.3rem;
    z-index: 1;
    background: #1d2648;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.calenderbuttonsection button{
    padding: 0.3rem;
    color: white;
    background: #474791;
    margin-left: 6px;
}

.calendersection{
    background-color: #283046;
}

.calender_topsection{
    position: absolute;
    margin-left: 32.5vw;
    /* margin-top: -0.5rem; */
    top: 0.2rem;
    padding-left: 11px;
    padding-bottom: 7px;
    padding-top: 2px;
    padding-right: 24.5rem;
    z-index: 1;
    background: #1d2648;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}